name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Run Checks
        run: |
          nix build .#checks.x86_64-linux.pyrefly
          nix build .#checks.x86_64-linux.ruff
          nix build .#checks.x86_64-linux.django-check
